<header class="site-header conte">
  <div class="header header-logo row align-items-center">
    <a href="#"><img src="assets/img/utp-logo.png" alt="paso" class="img-fluid"></a>
  </div>
    <nav class="header header-nav col rounded-7">
      <ul class="nav-list navbar-nav justify-content-end gap-5">
        <li class="nav-item"><a href="#" class="nav-link">Inicio</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Productos</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Servicios</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Contacto</a></li>
      </ul>
    </nav>
</header>
