<footer>
  <section class="horarios">
    <h3 class="title title-horarios">Horario de atención</h3>
    <ul class="list-horarios">
      <li class="item-horarios">Lunes a Viernes: 9:00 AM - 6:00 PM</li>
      <li class="item-horarios">Sábado: 10:00 AM - 4:00 PM</li>
      <li class="item-horarios">Domingo: Cerrado</li>
    </ul>
  </section>
  <section class="locales">
    <h3 class="title title-locales">Nuestras sucursales</h3>
    <ul class="list-locales">
      <li class="item-locales">Sucursal 1: Calle Falsa 123, Ciudad</li>
      <li class="item-locales">Sucursal 2: Avenida Siempre Viva 456, Ciudad</li>
      <li class="item-locales">Sucursal 3: Plaza Central 789, Ciudad</li>
    </ul>
  </section>
  <section class="redes-sociales">
    <h3 class="title tilte-redes">Síguenos en nuestras redes sociales</h3>
    <ul class="list-redes">
      <li class="item-redes"><a href="#">Facebook</a></li>
      <li class="item-redes"><a href="#">Twitter</a></li>
      <li class="item-redes"><a href="#">Instagram</a></li>
    </ul>
  </section>
</footer>
